<?xml version="1.0"?>

<configuration>

  <runtime>
    <gcAllowVeryLargeObjects enabled="true" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.13.0" newVersion="1.2.13.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <appSettings file="service.config" />

  <system.web>
    <compilation debug="true" targetFramework="4.6.2" />
    <httpRuntime targetFramework="4.6.2" executionTimeout="300" maxRequestLength="2147483647" useFullyQualifiedRedirectUrl="false" minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="100" />
  </system.web>

  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="false" multipleSiteBindingsEnabled="false" />

    <bindings>
      <customBinding>
        <binding
          name="UserNameCustomBinding"
          closeTimeout="00:30:00"
          openTimeout="00:30:00"
          receiveTimeout="00:30:00"
          sendTimeout="00:30:00">

          <binaryMessageEncoding
            compressionFormat="GZip"
            maxReadPoolSize="2147483647"
            maxSessionSize="2147483647"
            maxWritePoolSize="2147483647">

            <readerQuotas
              maxArrayLength="2147483647"
              maxBytesPerRead="2147483647"
              maxDepth="2147483647"
              maxNameTableCharCount="2147483647"
              maxStringContentLength="2147483647" />
          </binaryMessageEncoding>

          <security
            requireSecurityContextCancellation="true"
            authenticationMode="SecureConversation">
            <secureConversationBootstrap
              authenticationMode="UserNameOverTransport">
            </secureConversationBootstrap>
          </security>

          <sslStreamSecurity />

          <tcpTransport
            channelInitializationTimeout="00:02:00"
            connectionBufferSize="256192"
            maxOutputDelay="00:00:30"
            maxBufferPoolSize="9223372036854775807"
            maxReceivedMessageSize="9223372036854775807"
            maxBufferSize="2147483647"
            maxPendingAccepts="2147483647"
            maxPendingConnections="5000"
            transferMode="Streamed">

            <connectionPoolSettings
              idleTimeout="00:02:00"
              leaseTimeout="00:30:00"
              maxOutboundConnectionsPerEndpoint="2147483647"/>

          </tcpTransport>

        </binding>
      </customBinding>
    </bindings>

    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

  </system.serviceModel>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <directoryBrowse enabled="true" />
  </system.webServer>

</configuration>