<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="CustomBinding_IService" transferMode="Streamed">
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="UserName" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost/Service/Service.svc/username"
                binding="netTcpBinding" bindingConfiguration="CustomBinding_IService"
                contract="ServiceReference.IService" name="CustomBinding_IService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>